html {
  box-sizing: border-box;
  background-color: #f1f3f4;
}
h1 {
  margin: 0 auto 40px; /* Ajouter "auto" pour centrer horizontalement */
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 550px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.container_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.icon {
  align-self: flex-start;
  padding: 10px;
}

.icon i {
  color: #4285f4;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.icon i.icon-rotate:hover {
  transform: rotate(90deg);
}

.container h1 {
  margin: 30px 0 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.button_translate {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.button_translate button {
  cursor: pointer;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button_translate button:hover {
  background-color: #3367d6;
}

.container_area .select {
  margin-bottom: 15px;
}

.container_area select {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #333;
}

.container_area textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #333;
}

#msg_error {
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
  color: #d50000;
}

#sugg {
  color: #4285f4;
  margin-left: 138px;
  font-size: 14px;
  text-align: left;
}

#sugg a {
  color: #4285f4;
  text-decoration: none;
  transition: color 0.3s ease;
}

#sugg a:hover {
  color: #3367d6;
}

.language-link {
  cursor: pointer;
  text-decoration: underline;
}
